#상관분석

### **1. 상관관계 분석의 세 가지 방법(상관관계 분석과 상관계수)**

In [ ]:
import pandas as pd
#리스트에 데이터 삽입하기
engListening = [30, 60, 90]
engScore = [70, 80, 90]

#리스트를 데이터프레임으로 변환하기
data = {'engListening':engListening, 'engScore':engScore}
df = pd.DataFrame(data)

#상관분석 수행하기

In [ ]:
import matplotlib.pyplot as plt

#데이터 추가하기
engListening = [30, 60, 90, 31, 32, 69, 92, 99]
engScore = [70, 80, 90, 70, 71, 85, 90, 92]
data2 = {'engListening':engListening, 'engScore':engScore}
df2 = pd.DataFrame(data2)

#산점도 그래프의 x좌표와 y좌표 설정하기

In [ ]:
#피어슨 상관분석

In [ ]:
#스피어만 상관분석



#켄달 상관분석

In [ ]:
engListening = [30, 60, 90, 31, 32, 69, 92, 99]
engReading = [40, 45, 60, 20, 15, 70, 60, 80]
engClass = [60, 120, 120, 60, 60, 180, 120, 120]
engScore = [70, 80, 90, 70, 71, 85, 90, 92]

data3 = {'engListening':engListening, 'engReading':engReading, 'endClass':engClass,
         'engScore':engScore}
df3 = pd.DataFrame(data3)

In [ ]:
#피어슨 상관분석



#스피어만 상관분석



#켄달 상관분석

### **2. 영어 성적과 수학 성적**

In [ ]:
import pandas as pd

data = {'영어':[4, 2, 1, 3, 10, 8, 9, 7, 6, 5],
        '수학':[2, 1, 3, 4, 8, 7, 10, 5, 9, 6]}
df = pd.DataFrame(data)

#영어 성적과 수학 성적 상관관계 분석

### **3. 기준금리와 부동산 매매가격**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

realEstate = [83, 83, 83.5, 83.8, 83.9, 83.7, 84.3, 84.6, 85.2, 85.7, 85.7, 85.7, 86.3
               , 86.8, 87.4, 87.4, 87.4, 87.4, 87.6, 88.2, 88.8, 89.4, 89.7, 89.9, 90.5
               , 91.1, 92, 92.7, 93.3, 93.8, 94.7, 95.4, 96, 96.4, 96.4, 95.8, 95.7
               , 95.8, 95.7, 95.7, 95.7, 96, 96.6, 97.2, 98.1, 98.8, 98.9, 98.6, 98.3
               , 98.5, 98.7, 98.6, 98.9, 99.4, 100.1, 100.2, 100.3, 100.3, 100, 99.6
               , 99.8, 100.1, 100.2, 100.2, 99.9, 99.7, 99.6, 100.8, 102.2, 102.4
               , 101.6, 100.8, 100.3, 99.9, 99.2, 99, 98.8, 99.1, 99.6, 99.9, 100.3
               , 100.8, 101.7, 102.7, 103.4, 104.7, 105.5, 105.5, 106.3, 108.3, 110.7
               , 112, 112.9, 114.4, 117, 119.8, 122.9, 125.1, 126.7, 128.3, 130.5
               , 133.4, 136.5, 139.7, 142.3, 143.8, 143, 141.6, 140.7, 140.6, 141.1
               , 141.8, 140.5, 139.8, 136.1, 133.4, 130.6, 126.2, 121.1]
interestRate = [2.75, 2.75, 2.75, 2.75, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5
               , 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.25, 2.25, 2, 2, 2, 2, 2, 1.75, 1.75
               , 1.75, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.25
               , 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25
               , 1.25, 1.25, 1.25, 1.25, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 1.5
               , 1.5, 1.5, 1.5, 1.75, 1.75, 1.75, 1.75, 1.75, 1.75, 1.75, 1.75, 1.5
               , 1.5, 1.5, 1.25, 1.25, 1.25, 1.25, 1.25, 0.75, 0.75, 0.5, 0.5, 0.5
               , 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5
               , 0.75, 0.75, 0.75, 1, 1, 1.25, 1.25, 1.25, 1.5, 1.75, 1.75, 2.25, 2.5, 2.5
               , 3, 3.25]
data = {'부동산':realEstate, '금리':interestRate}
df = pd.DataFrame(data)

In [ ]:
#산포도 그래프로 데이터 표현하기

In [ ]:
#피어슨 상관분석

In [ ]:
#부동산 지수가 143.8이 될 때까지만 리스트에 데이터 추가하기

In [ ]:
#지수와 금리의 상관관계 분석

### **4. GDP 성장률과 인구수의 상관관계 분석**

In [ ]:
import pandas as pd

data = {'국가' :['미국', '일본', '영국', '프랑스', '독일', '이탈리아', '캐나다',
                '대한민국', '러시아', '중국', '인도', '인도네시아', '아르헨티나',
                '브라질', '멕시코', '호주', '남아프리카공화국', '사우디아라비아',
                '튀르키예', '유럽연합(EU)'],
        'GDP 성장률' :[0.9, 0.6, 0.4, 0.5, 1.1, 1.7, 3.9, 1.4, -3.7, 2.9, 6.3,
                    5.01, 5.9, 3.6, 3.5, 5.9, 4.1, 5.4, 3.9, 1.9],
        '인구수' :[334, 125, 67.53, 67.65, 83.16, 59.24, 38.44, 51.74, 146, 1412,
                1380, 273, 45.81, 213, 126, 25.77, 60.14, 34.11, 84.68, 343]}

df = pd.DataFrame(data)
print(df)

In [ ]:
#상관관계 분석을 위해 수치 데이터만 추출

In [ ]:
#상관계수 분석

#회귀분석

### **1. 연봉과 직장 만족도**

In [ ]:
import pandas as pd    #정형데이터 데이터프레임 라이브러리
import matplotlib.pyplot as plt  #그래프 라이브러리

x = [3000, 4200, 4000, 5000, 6000, 3800, 3500, 6200, 3900, 4500]
y = [60, 75, 70, 85, 90, 70, 65, 95, 70, 80]
data = {'x': x, 'y': y}
df = pd.DataFrame(data)  #판다스 데이터프레임
df

In [ ]:
 #산점도 그리기

In [ ]:
#회귀분석 패키지 라이브러리



#회귀분석

### **2. 직장 만족도의 요인 분석**

In [ ]:
#선형회귀분석을 위한 라이브러리

In [ ]:
salary = [3000, 4200, 4000, 5000, 6000, 3800, 3500, 6200, 3900, 4500]
breakTime = [120, 60, 100, 100, 50, 120, 90, 40, 120, 120]
workingTime = [8, 6, 10, 8, 10, 10, 9, 7, 8, 9]
companySatisfaction = [60, 75, 70, 85, 90, 70, 65, 95, 70, 80]

data = {'salary': salary, 'breakTime': breakTime, 'workingTime': workingTime,
        'companySatisfaction': companySatisfaction}
df = pd.DataFrame(data)
print(df)

In [ ]:
#회귀분석

### **3. 로지스틱 회귀분석의 해석**

In [ ]:
#로지스틱회귀분석을 위한 라이브러리

In [ ]:
import pandas as pd
import numpy as np

sales = [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
price = [1500, 2000, 5000, 3000, 3500, 2500, 4000, 4500, 3000,\
         4500, 4000, 4500, 5500, 6500, 5000, 3500, 7000]
data = {'sales': sales, 'price': price}
df = pd.DataFrame(data)

In [ ]:
#로지스틱 회귀분석

### **4. 타이타닉 탑승자 생존여부 예측**

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic)

In [ ]:
#라이브러리

In [ ]:
#회귀분석(예측분석)